.header {
  width: 100%;
  height: 7rem;
  padding: 1rem;
  background-color: var(--main4);
  display: flex;
  justify-content: center;

  // border-bottom-left-radius: 20px;
  // border-bottom-right-radius: 20px;

  @include respond(desktop) {
    padding: 0.5rem;
    height: 5.5rem;
  }

  &__logo {
    height: 100%;
  }
}
