:root {
  // AUSSIE PALETTE //
  --radius1: 20px;
  --radius2: 5px;
  --main1: #dff9fb;
  --main2: #c7ecee;
  --main3: #7ed6df;
  --main4: #22a6b3;
  --red1: #ff7979;
  --red2: #eb4d4b;
  --cubic1: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  --navSize: 7rem;
  --navBot: 2rem;
  --navLeft: 2rem;

  --icon-size: 3rem;

  --navZi: 200;
  --uploadZi: 500;
  --helpZi: 500;
  --backdropZi: 300;
  --backdropZiOpening: 100;
}
