.video-stabilizer {
  display: flex;
  justify-content: center;
  align-items: center;

  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  width: 100%;
}

@keyframes flip-camera {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.upload {
  &__camera--wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // padding-top: calc((var(--navBot) * 2) + var(--navSize));
  }

  &__camera {
    display: block;
    width: 100%;
    transform: scaleX(-1);
    animation-duration: 0.25s;
  }

  &__trash {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    .icon {
      stroke: var(--main4);
      stroke-width: 1px;
      fill: var(--main1);
    }
  }

  &__controls {
    margin-top: var(--navBot);
    display: flex;
    justify-content: center;

    & > *:not(:last-child) {
      margin-right: var(--navLeft);
    }
  }

  &__shutter,
  &__rotate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--navSize);
    width: var(--navSize);
    background-color: var(--main3);
    border-radius: var(--radius1);
    transition: 0.1s ease-out;

    &:active {
      transform: scale(1.1);
    }
  }

  &__rotate {
    svg {
      animation-duration: 0.25s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
    }
  }

  &__canvas {
    display: none;
  }
}

@keyframes snapshot {
  0% {
    filter: brightness(1);
  }
  30% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0) invert(1);
  }
  70% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes control-rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
