.close__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5rem;
  border: none;
  border-radius: var(--radius1);
  outline: none;
  transition: 0.1s ease-out;
  z-index: 1000;

  & .icon {
    height: var(--icon-size);
    width: var(--icon-size);
    fill: var(--main4);
  }
}
