.post {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 50rem;
  background-color: var(--main3);
  overflow: hidden;
  padding-bottom: 0;

  &__image {
    height: 90%;
    width: 100%;
    object-fit: cover;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: var(--main4);
    width: 100%;
    height: 10%;
    padding: 0 1rem;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }

    & > p {
      max-width: 90%;
      overflow-x: auto;
      white-space: nowrap;
      padding: 0.5rem 0;
    }
  }

  &__likes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    & > *:not(:last-child) {
      margin-right: 0.5rem;
    }

    & .icon {
      height: 100%;
      width: var(--icon-size);
      fill: var(--main4);
    }
  }
}

.liked {
  fill: var(--main1) !important;
  stroke: var(--main1) !important;
  stroke-width: 1px !important;
}
