.backdrop {
  --centerPosition: calc(50vw - var(--navLeft) - (var(--navSize) / 2));
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--navSize);
  height: var(--navSize);
  border-radius: var(--radius1);
  background-color: var(--main2);
  z-index: var(--backdropZi);
  overflow: hidden;

  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes open {
  0% {
    z-index: var(--backdropZiOpening);
    transform: translateX(0) scale(1);
  }
  30% {
    transform: translateX(var(--centerPosition)) scale(1);
  }
  40% {
    transform: translateX(var(--centerPosition)) scale(1);
  }
  100% {
    transform: translateX(var(--centerPosition)) scale(25);
  }
}

@keyframes close {
  0% {
    transform: translateX(var(--centerPosition)) scale(25);
  }
  60% {
    transform: translateX(var(--centerPosition)) scale(1);
  }
  70% {
    transform: translateX(var(--centerPosition)) scale(1);
  }
  100% {
    z-index: var(--backdropZiOpening);
    transform: translateX(0) scale(1);
  }
}
