.backdrop {
  --centerPosition: calc(50vw - var(--navLeft) - (var(--navSize) / 2));

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: var(--navSize);
  height: var(--navSize);
  border-radius: 10px;
  background-color: var(--main2);
  z-index: var(--backdropZi);
  overflow: hidden;

  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes open {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(var(--centerPosition)) scale(1);
  }
  40% {
    transform: translateX(var(--centerPosition)) scale(1);
  }
  100% {
    transform: translateX(var(--centerPosition)) scale(50);
  }
}

@keyframes close {
  0% {
    transform: translateX(var(--centerPosition)) scale(50);
  }
  75% {
    transform: translateX(var(--centerPosition)) scale(1);
  }
  100% {
    transform: translateX(0);
  }
}
